.content {
    /* flex-wrap: ; */
    margin-left: 175px;
    padding-top: 20px;

    
}
.hrrazmarin {
    display: flex;
    align-items:center;
}
.hr{
    /* width: 50px; */
    flex-grow: 1;

}

.razmarin {
    height: 40px;
}



.lupacolo {
    /* padding-top: 5px; */
    display: flex;
    justify-content: space-between;
}
.lupa {
    width: 15px;
    
}
.searchbabel  {
    width: 15px;
}

.lupab {
    border: none;
    background: none;
}
.container {
    width: 100vw;
    
    /* flex-direction: column; */
}
.colodiv {
    padding-right: 30px;
}
.colo {
    width: 15px;
}
