.emailwrite {
    margin: 0 -25px;
    height: 125px;
    display: block;
    background-color: #e8e8e8;
}
.text {
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 20px;
    display: block;
    padding-left: 41%;
}
.inputtext {
    border: none;
    height: 30px;
}
.email {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 50px;
}
form {
    padding-left: 40%;
}
.emailbutton {
    border: none;
     background-color: #2f3032;
    width: 30px;
    height: 30px;
}

.foot {
    display: flex;
    height: 60px;
    background-color: #252627;
    margin: 0 -25px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.li {
    display: inline;
    padding: 25px;
}

.linknav {
    text-decoration: none;
    color: #949494;
    margin: 25px 0 0 0 ;
    font-size: 10px;
    text-transform: uppercase;
}

footer {
    
}